body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(matrix.gif);
    color: white
}

.buttons  {
    display: flex;
    gap: 10px;
    
}
button  {
    padding: 5px 15px;

}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: large;
    font-weight: bold;
}