body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(matrix.gif);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons  {
    display: flex;
    gap: 10px;
    
}
button  {
    padding: 5px 15px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid gray;
}

button:hover    {
    border: 3px solid green;
}

button:active   {
    transform: translateY(2px);
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: large;
    font-weight: bold;
    
}

img {
    width: 50px;
    height: 50px;
    
}